body {
  background-color: #424242;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none; }

.pages {
  padding-top: 64px; }

.page {
  padding: 40px; }

.appbar {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .appbar .button {
    color: #FFFFFF !important; }

.home-page .container {
  border-radius: 3px !important; }
  .home-page .container .header {
    background-color: #252525;
    border-radius: 3px 3px 0 0;
    color: #FFFFFF;
    padding: 16px;
    margin: 0px;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase; }
  .home-page .container .track-card {
    color: #FFFFFF;
    background-color: #616161;
    border-top: 1px solid;
    border-color: #424242;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px 8px 8px; }
    .home-page .container .track-card .left-container {
      display: flex;
      align-items: center;
      flex-direction: row; }
      .home-page .container .track-card .left-container .album-artwork {
        max-height: 120px; }
      .home-page .container .track-card .left-container .track-name {
        font-size: 28px;
        font-weight: 500;
        margin: 0;
        padding: 0 0 0 12px; }
      .home-page .container .track-card .left-container .artist-name {
        font-size: 24px;
        font-weight: 300;
        margin: 0;
        padding: 0 0 0 12px; }
    .home-page .container .track-card .bpm {
      font-size: 20px;
      font-weight: 300;
      margin: 0;
      padding: 0 0 0 12px; }
    .home-page .container .track-card .tag-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      .home-page .container .track-card .tag-container .tag {
        margin: 5px !important; }
    .home-page .container .track-card .button {
      margin: 10px; }
  .home-page .container .track-card:hover {
    background-color: #424242; }

.login-page {
  height: 80vh;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .login-page .circular-progress {
    margin-bottom: 40px; }
  .login-page .errors {
    color: #F44336;
    font-weight: 300; }
  .login-page .card {
    color: #FFFFFF !important;
    background-color: #616161 !important;
    width: 300px;
    padding: 20px; }
    .login-page .card .text-input {
      width: 100%;
      margin: 0;
      margin-top: -15; }
    .login-page .card .signup {
      text-align: center;
      margin-bottom: 0; }
      .login-page .card .signup a {
        color: #8BC34A; }

.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .signup-page .title {
    margin: 0;
    font-weight: 300;
    text-align: center; }
  .signup-page .circular-progress {
    margin-top: 40px; }
  .signup-page .confirmation-card {
    margin-top: 40px;
    color: #616161 !important;
    background-color: #8BC34A !important;
    width: 400px;
    text-align: center;
    padding: 20px; }
  .signup-page .card {
    margin-top: 40px;
    color: #FFFFFF !important;
    background-color: #616161 !important;
    width: 400px;
    padding: 20px; }
    .signup-page .card .text-input {
      width: 100%;
      margin: 0; }
    .signup-page .card .login {
      text-align: center;
      margin-bottom: 0; }
      .signup-page .card .login a {
        color: #8BC34A; }

.user-profile-page .profile-card {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #616161 !important;
  color: #ffffff !important; }
  .user-profile-page .profile-card .profile-picture {
    max-height: 200px; }
  .user-profile-page .profile-card .left-container {
    max-width: 600px;
    display: flex;
    flex-direction: row; }
    .user-profile-page .profile-card .left-container .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .user-profile-page .profile-card .left-container .text-container .artist-name {
        font-size: 28px;
        font-weight: 500;
        margin: 0;
        padding: 0 0 0 12px; }
      .user-profile-page .profile-card .left-container .text-container .artist-bio {
        padding: 0 0 0 12px; }

.artist-profile-page .profile-card {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #616161 !important;
  color: #ffffff !important; }
  .artist-profile-page .profile-card .profile-picture {
    max-height: 200px; }
  .artist-profile-page .profile-card .left-container {
    max-width: 600px;
    display: flex;
    flex-direction: row; }
    .artist-profile-page .profile-card .left-container .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .artist-profile-page .profile-card .left-container .text-container .artist-name {
        font-size: 28px;
        font-weight: 500;
        margin: 0;
        padding: 0 0 0 12px; }
      .artist-profile-page .profile-card .left-container .text-container .artist-bio {
        padding: 0 0 0 12px; }

/*# sourceMappingURL=index.css.map */
