body {
  background-color: #ecf0f1;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.pages {
    padding-top: 64px;
    @media(min-width: 768px) {
        padding-left: 200px;
    }
}

.page {
    padding: 20px
}