body {
  background-color: #ecf0f1;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.pages {
  padding-top: 64px; }

.page {
  padding: 40px; }

.appbar .button {
  color: #FFFFFF !important;
  margin-top: 5px !important; }

.home-page .container .header {
  background-color: #263238;
  border-radius: 3px 3px 0 0;
  color: #FFFFFF;
  padding: 16px;
  margin: 0px;
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase; }
.home-page .container .track-card {
  color: #263238;
  border-top: 1px solid;
  border-color: #ECEFF1;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 0; }
  .home-page .container .track-card .left-container {
    display: flex;
    align-items: center;
    flex-direction: row; }
    .home-page .container .track-card .left-container .album-artwork {
      max-height: 150px; }
    .home-page .container .track-card .left-container .track-name {
      font-size: 28px;
      font-weight: 500;
      margin: 0;
      padding: 0 0 0 12px; }
    .home-page .container .track-card .left-container .artist-name {
      font-size: 24px;
      font-weight: 300;
      margin: 0;
      padding: 0 0 0 12px; }
  .home-page .container .track-card .bpm {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding: 0 0 0 12px; }
  .home-page .container .track-card .tag-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .home-page .container .track-card .tag-container .tag {
      margin: 5px !important; }
.home-page .container .track-card:hover {
  background-color: #FAFAFA; }

.user-profile-page .profile-card {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .user-profile-page .profile-card .profile-picture {
    max-height: 200px; }
  .user-profile-page .profile-card .left-container {
    max-width: 600px;
    display: flex;
    flex-direction: row; }
    .user-profile-page .profile-card .left-container .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .user-profile-page .profile-card .left-container .text-container .artist-name {
        font-size: 28px;
        font-weight: 500;
        margin: 0;
        padding: 0 0 0 12px; }
      .user-profile-page .profile-card .left-container .text-container .artist-bio {
        padding: 0 0 0 12px; }

.artist-profile-page .profile-card {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .artist-profile-page .profile-card .profile-picture {
    max-height: 200px; }
  .artist-profile-page .profile-card .left-container {
    max-width: 600px;
    display: flex;
    flex-direction: row; }
    .artist-profile-page .profile-card .left-container .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .artist-profile-page .profile-card .left-container .text-container .artist-name {
        font-size: 28px;
        font-weight: 500;
        margin: 0;
        padding: 0 0 0 12px; }
      .artist-profile-page .profile-card .left-container .text-container .artist-bio {
        padding: 0 0 0 12px; }

/*# sourceMappingURL=index.css.map */
