body {
    background-color: #ecf0f1;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

// Global Styles
.pages {
    padding-top: 64px;
}

.page {
    padding: 40px
}

// Components Styles
.appbar {
    .button {
        color: #FFFFFF !important;
        margin-top: 5px !important;
    }
}

.home-page {
    .container {
        .header {
            background-color: #263238;
            border-radius: 3px 3px 0 0;
            color: #FFFFFF;
            padding: 16px;
            margin: 0px;
            font-size: 14px;
            font-weight: 100;
            text-transform: uppercase;
        }
        .track-card {
            color: #263238;
            border-top: 1px solid;
            border-color: #ECEFF1;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 8px 16px 8px 8px;
            .left-container {
                display: flex;
                align-items: center;
                flex-direction: row;
                .album-artwork {
                    max-height: 120px;
                }
                .track-name {
                    font-size: 28px;
                    font-weight: 500;
                    margin: 0;
                    padding: 0 0 0 12px;
                }
                .artist-name {
                    font-size: 24px;
                    font-weight: 300;
                    margin: 0;
                    padding: 0 0 0 12px;
                }
            }
            .bpm {
                font-size: 20px;
                font-weight: 300;
                margin: 0;
                padding: 0 0 0 12px;
            }
            .tag-container {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                .tag {
                    margin: 5px !important;
                }
            }
        }
        .track-card:hover {
            background-color: #FAFAFA;
        }
    }
}

.user-profile-page {
    .profile-card {
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .profile-picture {
            max-height: 200px;
        }
        .left-container {
            max-width: 600px;
            display: flex;
            flex-direction: row;
            .text-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .artist-name {
                    font-size: 28px;
                    font-weight: 500;
                    margin: 0;
                    padding: 0 0 0 12px;
                }
                .artist-bio {
                    padding: 0 0 0 12px;
                }
            }
        }
    }
}

.artist-profile-page {
    .profile-card {
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .profile-picture {
            max-height: 200px;
        }
        .left-container {
            max-width: 600px;
            display: flex;
            flex-direction: row;
            .text-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .artist-name {
                    font-size: 28px;
                    font-weight: 500;
                    margin: 0;
                    padding: 0 0 0 12px;
                }
                .artist-bio {
                    padding: 0 0 0 12px;
                }
            }
        }
    }
}